.historySubBox {
  display: flex;
  align-items: center;
  margin: 10px;
}
.historySubBox1 {
  display: flex;
  flex-direction: row;

  justify-self: space-between;
  align-items: center;
  width: 30vw;
  margin-right: auto;
  margin-left: 5vh;
}
img {
  width: 2vw;
  height: 2vw;

  margin: 10px;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0%;
  cursor: pointer;
}
.timeEl {
  margin: 5vh;
  color: #64748b;
  font-weight: bold;
  font-size: 14px;
}
p {
  color: #475569;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}
.domainUrlEl {
  color: #64748b;
  font-size: 14px;
  margin: none;

  font-weight: normal;
}
